<div class="container ">
  <div class="row ">

    <div class="col-md bg-info text-center text-white">
      <img width="300" height="200" alt="Angular Logo" src="assets/img/diogo.png">
      <h2>
        Diogo Batista 1150802
      </h2>

    </div>
    <div class="col-md bg-info text-center text-white">
      <img width="300" height="200" alt="Angular Logo" src="assets/img/carlos.png">
      <h2>
        Carlos Dias 1151124
      </h2>
    </div>
    <div class="col-md bg-info text-center text-white">
      <img width="300" height="200" alt="Angular Logo" src="assets/img/soares.png">
      <h2>
        Diogo Soares 1150989
      </h2>

    </div>

  </div>


</div>

