<div class="container">
  <div class="row">


    <div class="col-lg bg-info mt-1 ml-1 rounded">
      <div class="card bg-info">
        <div class="card-header ">
          <h2 class=" text-center text-white">Nova Categoria</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="text-white">Nome da Categoria</label>
              <input type="text" class="form-control" #categoriaName placeholder="Categoria xpto">
            </div>

            <button class="btn btn-success btn-lg ml-1 mb-1 mt-1" (click)="add(categoriaName.value); categoriaName.value=''">
              Adicionar
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg bg-info ml-1 mt-1 rounded">
      <div class="card bg-info">
        <div class="card-header ">
          <h2 class=" text-center text-white">Categorias</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-info" *ngFor="let categoria of encomendas">
              <a class="list-group-item text-muted" routerLink="/detail/{{categoria.id}}">
                {{categoria.nome}}
              </a>
              <button class="btn btn-danger mt-1" title="delete categoria"
                      (click)="delete(categoria)">
                Remover
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
